{% unless include.no_links %}
    {% assign profile = site.team | find: "title", author %}
{% else %}
    {% assign profile = nil %}
{% endunless %}
{% assign header = include.header | default: "h4" %}
{% assign header_style = include.header_style | default: header %}

{%- if profile -%}
    <a class="author-list-item" href="/team/#{{profile.email | split: '@' | first | replace: '.', '-'}}">
        <{{header}}{% if header != header_style %} class="{{header_style}}"{% endif %}><img src="{% link {{profile.image}} %}" alt="">{{profile.title}}</{{header}}>
    </a>
{%- else -%}
    {% if author contains "!external" %} 
        <{{header}} class="author-list-item{% if header != header_style %} {{header_style}}{% endif %}">{{ author | remove: "!external" | strip }}</{{header}}>
    {% else %}
        <{{header}} class="author-list-item{% unless include.no_links%} unresolved{% endunless %}{% if header != header_style %} {{header_style}}{% endif %}" data-name="{{author}}">{{author}}</{{header}}>
    {% endif %}
{%- endif -%}
