{%- if include.page -%}
    {%- assign page = include.page -%}
{%- endif -%}

{% assign header = include.header | default: "h4" %}
{% assign header_style = include.header_style | default: header %}
{%- assign authors = include.authors | default: page.authors -%}

{%- if authors == nil -%} 
    {% if page.author != nil %}
    {% assign authors = "" | split: "" %}
    {% assign authors = authors | push: page.author %}
    {% endif %}
{%- endif -%}

{% if authors != nil %}
<div class="author-list">    
    {%- for author in authors -%}
        {%- if forloop.first != true -%}
            <span class="{{header_style}}">{% if forloop.length > 2 %},{%endif%}&MediumSpace;</span>
            {%- if forloop.last -%}
                <span class="{{header_style}}">and&MediumSpace;</span>
            {%- endif -%}
        {% endif %}
        {% include author-list-item.html no_links=include.no_links header=include.header header_style=include.header_style %}
    {% endfor %}
</div>
{% endif %}