<div class="header {{include.headerClass}}">
    <nav class="container">
        <div class="logo">
            <a href="{{site.baseurl}}/" aria-label="BDSi front page">
                <img src="{% link assets/images/logo-light.svg %}" alt="">
            </a>
        </div>
        <div class="logo-mobile">
            <a href="{{site.baseurl}}/" aria-label="BDSi front page">
                <img src="{% link assets/images/logo-light.svg %}" alt="">
            </a>
        </div>
        {% include main-menu.html %}
        {% include hamburger.html %}
    </nav>
</div>
