{% if item.tags.size >= 1 %}
    {% assign tags = item.tags %}
    {% assign tags = tags | unshift: item.collection %}
{% else %}
    {% assign tags = '' | split: '' %}
    {% if item.tag %}
        {% assign tags = tags | push: item.tag %}
    {% else %}
        {% assign tags = tags | push: item.collection %}
    {% endif %}
{% endif %}

<a href="{% link {{item.path}} %}" class="news-item mb-3 {{include.class}}">
    {% if item.image %}
    <div class="news-item-image-wrapper">
        <img
            src="{% link {{item.image}} %}"
            alt="{{item.image_alt | default: ''}}"
            class="news-item-image"
        />
    </div>
    {% endif %}
    <div class="news-item-content">
        <div class="news-item-title">
            <h3 id="news-title-{{item.title || slugify}}">{{item.title}}</h3>
            {% if item.author | item.authors %}
                {% include author-list.html page=item no_links='true' header_style='h6' %}
            {% endif %}
        </div>
        <div class="news-item-text">
            {% if item.introduction %}
                {{item.introduction | markdownify | replace: '<p>', '__p__' | replace: '\n', '__p__' | strip_html | truncatewords: 100, '...' | replace: '__p__', '<p>'}}
            {% else %}
                {{item.content | replace: '<p>', '__p__' | strip_html | truncatewords: 100, '...' | replace: '__p__', '<p>'}}
            {% endif %}
        </div>
    </div>
    <div class="news-item-tags">
        {% for tag in tags | limit: 3 %}
        <div class="news-item-tag{% if forloop.first %} text-white bg-primary{% endif %}">
            {{tag}}
        </div>
        {% endfor %}
    </div>
</a>