{% if item.tags.size >= 1 %}
    {% assign tags = item.tags %}
    {% assign tags = tags | unshift: item.collection %}
{% else %}
    {% assign tags = '' | split: '' %}
    {% if item.tag %}
        {% assign tags = tags | push: item.tag %}
    {% else %}
        {% assign tags = tags | push: item.collection %}
    {% endif %}
{% endif %}

<a href="{% link {{item.path}} %}" class="news-item">
    {% if item.image %}
    <div class="news-item-image-wrapper">
        <img
            src="{% link {{item.image}} %}"
            alt="{{item.image_alt | default: ''}}"
            class="news-item-image"
        />
    </div>
    {% endif %}
    <div class="news-item-content">
        <div class="news-item-title">
            <h3 id="news-title-{{item.title || slugify}}">{{item.title}}</h3>
            <div class="small text-muted">
                {% if item.author -%}
                    {% assign profile = site.team | find: "title", item.author %}
                    {% assign id = profile.email | split: '@' | first | replace: '.', '-' %}
                    <a href="/team#{{id}}">{{item.author}}</a>, 
                {% endif -%} 
                {{item.date | date: "%B %e, %Y"}}
                {%- if item.endDate %}
                    — {{item.endDate | date: "%B %e, %Y"}}
                {%- endif %}
            </div>
        </div>
        <div class="news-item-text">
            {% if item.introduction %} {% assign paragraphs = item.introduction
                | split: "\n" %} {% for p in paragraphs %}
                <p class="{% unless forloop.first %}text-muted{% endunless %}">
                    {{p}}
                </p>
                {% endfor %} {% else%} {{item.content | truncatewords: 50, '...'}}
                {% endif %}
        </div>
    </div>
    <div class="news-item-tags">
        {% for tag in tags | limit: 3 %}
        <div class="news-item-tag{% if forloop.first %} text-white bg-primary{% endif %}">
            {{tag}}
        </div>
        {% endfor %}
    </div>
</a>