@use "../variables";
@use "sass:map";

// remove additional item for breakpoints where it would create an additional row. 
@media (min-width: map.get($grid-breakpoints, "xl")) and (max-width: map.get($grid-breakpoints, "xxl")) {
    .news-items {
        .col-xl-4:nth-child(4) {
            display: none;
        }
    }
}

@media (min-width: map.get($grid-breakpoints, "md")) {
    a.news-item.news-item-hero {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto max-content;
        column-gap: 1em;

        .news-item-image-wrapper {
            width: 100%;
            height: 100%;
            min-height: 300px;
            max-height: 400px;
            // min-height: 300px;

            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .news-item-image {
            width: 100%;
            height: 100%;
        }

        .news-item-content {
            height: min-content;

            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .news-item-tags {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;

            align-content: flex-start;
        }
    }
}

a.news-item {
    text-decoration: unset;
    color: unset;
    display: flex;
    flex-flow: column nowrap;

    &:hover, &:focus {
        text-decoration: unset;
        filter: unset;
    }
}

.news-item {
    .news-item-image-wrapper {
        height: 150px;
        width: 100%;
        overflow: hidden;
        border-radius: 4px;
        background-color: #ddd;
    }
    
    .news-item-image { 
        border-radius: 4px;
        margin-bottom: 1em;
        height: 150px;
        width: 100%;
        object-fit: cover;        
        transition: transform 0.3s;
    }

    &:hover .news-item-image {
        transform: scale(1.05);
    }

    .news-item-tags {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        gap: 0.2em;
    }

    .news-item-content {
        max-height: 350px;
        overflow: hidden;
        position: relative;

        &::after {
            content: "";
            background: linear-gradient(transparent, #fff);
            height: 50px;
            width: 100%;
            position: absolute;
            top: 300px;
        }
    }

    .news-item-tag {
        padding: 0.4em 0.6em 0.2em;
        border-radius: 4px;
        text-transform: uppercase;
        white-space: nowrap;
        
        color: $dark;
        font-size: 70%;
        font-weight: lighter;
        background-color: #eee;
    }
}