// @use "../bootstrap/variables";
@use "../variables";
@use "sass:math" as math;

$toc-width: 250px;

html {
    scroll-behavior: smooth;
}


.content-with-toc {
    @each $breakpoint, $width in $grid-breakpoints {
        $container-max-width: map-get($container-max-widths, $breakpoint);
        @if $container-max-width != null and $width >= map-get($grid-breakpoints, "md") {
            @media screen and (min-width: $width) {
                display: grid;

                $ml-width: calc((100% - $container-max-width) / 2);
                $content-width: min(calc(100% - $toc-width - $ml-width), $container-max-width);
                $mr-width: calc(100% - $ml-width - $content-width - $toc-width);
                
                grid-template-columns: $ml-width $content-width $toc-width $mr-width;
                grid-template-areas: "ml content toc mr";
            }
        }
    }

    .content {
        grid-area: content;
        padding: 0 10px;
    }

    .toc {
        grid-area: toc;
        position: sticky;
        top: 4em;
        margin: 6em 0 0 10px;
        align-self: start;    
        
        display: none;
        line-height: 1.2;

        @media screen and (min-width: map-get($grid-breakpoints, "md")){
            display: block;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .toc-entry {
                animation-duration: 1s;
                padding: 0.2em 0.5em;
                margin: 0;
                border-left: 2px solid #cdcdcd;
                
                a {
                    text-decoration: none;
                }

                &:hover, &.current {
                    border-left: 2px solid  var(--link-colour, var(--accent-colour, #008eaa));
                }

                &:hover {
                    filter: var(--link-hover-filter, brightness(120%));
                    a {
                        filter: none !important;
                    }
                }
            }

            .toc-level-h2 {
                margin-top: 0.5em;
            }

            .toc-level-h3 {
                padding-left: 1em;
            }
        }
    }
}