---
layout: single_page

skip_author: "true"
skip_date: true
---

{% if page.author or page.authors %}    
<div class="card mt-2 mb-2 shadow">
    <div class="card-body">
        <div class="card-title">
            <h2 data-toc-skip="true">Community Mentors</h2>
        </div>
        <div class="card-text">
            {% include author-list.html %}
            {% if page.authors %}
                {% assign _authors = page.authors | array_to_sentence_string %}
            {% else %}
                {% assign _authors = page.author %}
            {% endif %}
            This community is guided by {{ _authors }}. For additional details on joining, meeting schedules, and any other inquiries, please reach out to them directly.
        </div>
    </div>
</div>
{% endif %}

{{content}}