<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.png">
  <link href="{{site.baseurl}}/assets/css/style.css?v={{ site.time | date:'%s' }}" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.min.css" integrity="sha512-wCrId7bUEl7j1H60Jcn4imkkiIYRcoyq5Gcu3bpKAZYBJXHVMmkL4rhtyhelxSFuPMIoQjiVsanrHxcs2euu/w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap4.min.css" integrity="sha512-ht3CSPjgWsxdbLti7wtKNEk5hLoGtP2J8C40muB5/PCWwNw9M/NMJpyvHdeko7ADC60SEOiCenU5pg+kJiG9lg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   -->
  <!-- icons -->
  <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  
  <!-- mathjax -->
  <script>MathJax={tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}};</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-svg.min.js" integrity="sha512-lod3aTRkO5OUBZDRwWaaIGYAT6+2uSyrlwnj0sg1h9a1w5wJ7NnzkaiUWy4Jv5wdf1ixGX35HK6u7fP1pjYOQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- floating toc -->
  <!-- <link href="{{site.baseurl}}/assets/css/toc.css?v={{ site.time | date:'%s' }}" rel="stylesheet"> -->
  <script src="{% link assets/js/toc.js %}" async defer></script>

  <!-- a11y -->
  <!-- dynamically fix links to common office document to include file type and size -->
  <script src="{% link assets/js/a11y-fix-office-links.js %}" async defer></script>

  <!-- calendar parsing/generating -->
  <script src="https://cdn.jsdelivr.net/npm/ical.js@1.5.0/build/ical.min.js" integrity="sha256-uotVKltUv5neKsIlZxrxUccba0PaptusFj6p+w8Sons=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>

  <!-- logo slider -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1/slick/slick.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1/slick/slick-theme.min.css">
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1/slick/slick.min.js"></script> -->
  
  {% if page.accentColour %}
  <style>
    :root {
      --accent-colour: {{page.accentColour}};
      {% if page.linkColour %}
        --link-colour: {{page.linkColour}};
      {% else %}
        --link-filter: brightness(80%);
        --link-hover-filter: brightness(100%);
      {% endif %}
    }
  </style>
  {% endif %}

</head>
{% if page.imageBackground %}
  <body class='page {{page.bodyClass}}' style="background-color: {{page.imageBackground}}; background-image: unset;">
{% else %}
  <body class='page {{page.bodyClass}}'>
{% endif %}
  {% include main-menu-mobile.html %}
  {% include header.html %}
  <div id="content">
    {{content}}
  </div>
  {% include footer.html %}
    
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/scripts.js?v={{ site.time | date:'%s' }}"></script>
</body>
</html>
